{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block content %}
    {% set _list_table   = block('list_table')|trim %}
    {% set _list_filters = block('list_filters')|trim %}

    {% block preview %}{% endblock %}
    {% block form %}{% endblock %}
    {% block list %}{% endblock %}
    {% block show %}{% endblock %}

    {% if _list_table|length > 0 or _list_filters|length > 0 %}
        <div class="row-fluid">
            <div class="sonata-ba-list {% if _list_filters %}span10{% else %}span12{% endif %}">
                {{ _list_table|raw }}
            </div>
            {% if _list_filters %}
                <div class="sonata-ba-filter span2">
                    {{ _list_filters|raw }}
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
