{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block content %}
    {% block preview %}{% endblock %}
    {% block form %}{% endblock %}
    {% block list %}{% endblock %}
    {% block show %}{% endblock %}

    <div class="sonata-ba-filter">
        {% block list_filters %}{% endblock %}
    </div>
    <div class="sonata-ba-list">
        {% block list_table %}{% endblock %}
    </div>
{% endblock %}
