{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
    <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">
        <i class="icon-book"></i>
        {{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}