build
phpunit.xml
Resources/doc/_build/*
nbproject
coverage
composer.lock
/vendor
composer.phar

# clean up some non bower ready package
Resources/public/vendor/AdminLTE/ajax
Resources/public/vendor/AdminLTE/pages
Resources/public/vendor/AdminLTE/nbproject
Resources/public/vendor/AdminLTE/less
Resources/public/vendor/AdminLTE/js/plugins
Resources/public/vendor/AdminLTE/img/blur-*
Resources/public/vendor/AdminLTE/img/avatar*
Resources/public/vendor/AdminLTE/js/bootstrap*
Resources/public/vendor/AdminLTE/js/query*
Resources/public/vendor/AdminLTE/*.html
Resources/public/vendor/AdminLTE/css/bootstrap-slider
Resources/public/vendor/AdminLTE/css/bootstrap-wysihtml5
Resources/public/vendor/AdminLTE/css/colorpicker
Resources/public/vendor/AdminLTE/css/datatables
Resources/public/vendor/AdminLTE/css/daterangepicker
Resources/public/vendor/AdminLTE/css/fullcalendar
Resources/public/vendor/AdminLTE/css/images
Resources/public/vendor/AdminLTE/css/ionslider
Resources/public/vendor/AdminLTE/css/jQueryUI
Resources/public/vendor/AdminLTE/css/jvectormap
Resources/public/vendor/AdminLTE/css/morris
Resources/public/vendor/AdminLTE/css/timepicker
Resources/public/vendor/AdminLTE/css/bootstrap.css
Resources/public/vendor/AdminLTE/css/bootstrap.min.css

Resources/public/vendor/bootstrap/grunt
Resources/public/vendor/bootstrap/less
Resources/public/vendor/bootstrap/test-infra
Resources/public/vendor/bootstrap/Gruntfile.js

Resources/public/vendor/jqueryui/themes/black-tie
Resources/public/vendor/jqueryui/themes/blitzer
Resources/public/vendor/jqueryui/themes/cupertino
Resources/public/vendor/jqueryui/themes/dark-hive
Resources/public/vendor/jqueryui/themes/dot-luv
Resources/public/vendor/jqueryui/themes/eggplant
Resources/public/vendor/jqueryui/themes/excite-bike
Resources/public/vendor/jqueryui/themes/hot-sneaks
Resources/public/vendor/jqueryui/themes/humanity
Resources/public/vendor/jqueryui/themes/le-frog
Resources/public/vendor/jqueryui/themes/mint-choc
Resources/public/vendor/jqueryui/themes/overcast
Resources/public/vendor/jqueryui/themes/pepper-grinder
Resources/public/vendor/jqueryui/themes/redmond
Resources/public/vendor/jqueryui/themes/smoothness
Resources/public/vendor/jqueryui/themes/south-street
Resources/public/vendor/jqueryui/themes/start
Resources/public/vendor/jqueryui/themes/sunny
Resources/public/vendor/jqueryui/themes/swanky-purse
Resources/public/vendor/jqueryui/themes/trontastic
Resources/public/vendor/jqueryui/themes/ui-darkness
Resources/public/vendor/jqueryui/themes/ui-lightness
Resources/public/vendor/jqueryui/themes/vader

Resources/public/vendor/jquery/src

Resources/public/vendor/jquery.scrollTo/demo
Resources/public/vendor/jquery.scrollTo/tests
