parameters:
    ignoreErrors:
        - # Disallow VariableMethodCallRule and VariablePropertyFetchRule
            message: '#^Variable (method call|property access)#'
            path: .
        - # https://github.com/phpstan/phpstan-phpunit/issues/87
            message: '#^Trying to mock an undefined method [a-zA-Z]*\(\) on class stdClass\.$#'
            path: tests/
        - # https://github.com/phpstan/phpstan-strict-rules/issues/130
            message: '#^Call to static method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
            path: tests/
        - # The phpstan-param is less precise than the psalm-param https://github.com/phpstan/phpstan/issues/4703
            message: '#^Parameter \#1 \$value of method Sonata\\AdminBundle\\Form\\DataTransformer\\ModelsToArrayTransformer\<T of object\>\:\:reverseTransform\(\) expects array\<int\|string\>\|null, array\<mixed, array\<string\>\|int\|string\> given\.$#'
            path: src/Form/DataTransformer/ModelToIdPropertyTransformer.php
