parameters:
    ignoreErrors:
        - # Disallow VariableMethodCallRule and VariablePropertyFetchRule
            message: '#^Variable (method call|property access)#'
            path: .
        - # https://github.com/phpstan/phpstan-phpunit/issues/87
            message: '#^Trying to mock an undefined method [a-zA-Z]*\(\) on class stdClass\.$#'
            path: tests/
        - # https://github.com/phpstan/phpstan-strict-rules/issues/130
            message: '#^Call to static method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
            path: tests/
        - # This error is made on purpose for php version < 8
            message: '#^Method Sonata\\AdminBundle\\Tests\\Fixtures\\Entity\\FooToStringNull\:\:__toString\(\) should return string but returns null\.$#'
            path: tests/Fixtures/Entity/FooToStringNull.php
        - # The phpstan-param is less precise than the psalm-param https://github.com/phpstan/phpstan/issues/4703
            message: '#^Parameter \#3 \$idx of method Sonata\\AdminBundle\\Model\\ModelManagerInterface\<T of object\>\:\:addIdentifiersToQuery\(\) expects non-empty-array\<int\|string\>, non-empty-array\<array\<string\>\|int\|string\> given\.$#'
            path: src/Form/DataTransformer/ModelToIdPropertyTransformer.php
        - # `treatPhpdocAsCertain: false` should not report this https://github.com/phpstan/phpstan/issues/5333
            message: '#^Instanceof between Symfony\\Component\\Routing\\Route and Symfony\\Component\\Routing\\Route will always evaluate to true\.$#'
            path: src/Route/RouteCollection.php
        - # Generic with intersection is buggy https://github.com/phpstan/phpstan/issues/5336
            message: '#Sonata\\AdminBundle\\Datagrid\\(Datagrid|PagerInterface)<PHPUnit\\Framework\\MockObject\\Stub&Sonata\\AdminBundle\\Datagrid\\ProxyQueryInterface>#'
            path: tests/Datagrid/DatagridTest.php
        - # https://github.com/phpstan/phpstan/issues/5893
            message: '#^Parameter \#1 \$object of static method Doctrine\\Common\\Util\\ClassUtils\:\:getClass\(\) expects Doctrine\\Persistence\\Proxy\<T of object\>\|T of object, T of object|T of object given\.$#'
            path: src/Admin/AbstractAdmin.php
        - # https://github.com/phpstan/phpstan-symfony/pull/225
            message: '#^Property Sonata\\AdminBundle\\Util\\FormViewIterator\:\:\$iterator \(ArrayIterator\<int\|string, Symfony\\Component\\Form\\FormView\>\) does not accept ArrayIterator\<string, Symfony\\Component\\Form\\FormView\>\.$#'
            path: src/Util/FormViewIterator.php
