includes:
    - phpstan-baseline.neon

parameters:
    level: max
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    symfony:
        console_application_loader: ./phpstan-console-application.php
    paths:
        - src
        - tests
    excludePaths:
        analyseAndScan:
            # temporarily ignore template files
            - src/Resources/**.tpl.php
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
