{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-ajax-block {{ settings.class }}"
        id="block-{{ block.id }}"
        data-url="{{ path('sonata_admin_stats', { code: settings.code, limit: settings.limit, filters: settings.filters } ) }}"
    >
        {% block block_content %}{% endblock block_content %}
    </div>
{% endblock block %}
