<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="sonata.admin.menu_builder" class="Sonata\AdminBundle\Menu\MenuBuilder" public="true">
            <argument type="service" id="sonata.admin.pool"/>
            <argument type="service" id="knp_menu.factory"/>
            <argument type="service" id="knp_menu.menu_provider"/>
            <argument type="service" id="event_dispatcher"/>
        </service>
        <service id="sonata.admin.sidebar_menu" class="Knp\Menu\MenuItem" public="true">
            <factory service="sonata.admin.menu_builder" method="createSidebarMenu"/>
            <tag name="knp_menu.menu" alias="sonata_admin_sidebar"/>
        </service>
        <service id="sonata.admin.menu.group_provider" class="Sonata\AdminBundle\Menu\Provider\GroupMenuProvider" public="false">
            <argument type="service" id="knp_menu.factory"/>
            <argument type="service" id="sonata.admin.pool"/>
            <argument type="service" id="security.authorization_checker"/>
            <tag name="knp_menu.provider"/>
        </service>
        <service id="sonata.admin.menu.matcher.voter.admin" class="Sonata\AdminBundle\Menu\Matcher\Voter\AdminVoter" public="true">
            <argument type="service" id="request_stack"/>
            <tag name="knp_menu.voter"/>
        </service>
        <service id="sonata.admin.menu.matcher.voter.children" class="Sonata\AdminBundle\Menu\Matcher\Voter\ChildrenVoter" public="true">
            <deprecated>The "%service_id%" service is deprecated since 3.28 and will be removed in 4.0.</deprecated>
            <argument type="service" id="knp_menu.matcher"/>
        </service>
        <service id="sonata.admin.menu.matcher.voter.active" class="Sonata\AdminBundle\Menu\Matcher\Voter\ActiveVoter" public="true">
            <tag name="knp_menu.voter"/>
        </service>
    </services>
</container>
