{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {% trans from 'SonataAdminBundle' %}title_dashboard{% endtrans %}
{% endblock%}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <div class="">
        {% for group in groups %}
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td>
                            <h3>
                                {{ group.label|trans({}, 'SonataAdminBundle') }}
                            </h3>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in group.items %}
                        <tr>
                            <td>
                                <strong class="pull-left">
                                    {{ admin.label|trans({}, admin.translationdomain) }}
                                </strong>
                                <div class="pull-right">
                                    {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                        <a class="btn" href="{{ admin.generateUrl('create')}}">
                                            <i class="icon-plus"></i> {%- trans from 'SonataAdminBundle' %}link_add{% endtrans -%}
                                        </a>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <a class="btn" href="{{ admin.generateUrl('list')}}">
                                            <i class="icon-list-alt"></i> {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                        </a>
                                    {% endif %}
                                </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
