{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="span-24 last header">
    <div class="span-20">
        <a href="{{ url('sonata_admin_dashboard') }}" class="home">{% trans from 'SonataAdminBundle' %}Admin{% endtrans %}</a>
    </div>

    <div class="span-4 last">
        {% block user_panel %}{#Add here logout option / user options#}{% endblock %}
    </div>
</div>