{% for error in form.vars.errors %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ error.message }}
    </div>
{% endfor %}
