@import "~jquery-ui/themes/base/all.css";
@import "~admin-lte/dist/css/skins/_all-skins.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css";
@import "~icheck/skins/minimal/_all.css";

@import '~font-awesome/css/font-awesome.css';

@import "~select2/select2.css";
@import "~select2-bootstrap-css/select2-bootstrap.min.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
@import "~ionicons/dist/css/ionicons.css";
@import "~admin-lte/dist/css/AdminLTE.min.css";

@import "./styles";
@import "./layout";
@import "./tree";
