/* General parameter */
body {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

div.container {

}

div.container div.header {
    padding: 5px;

    background-image: -moz-linear-gradient(-90deg, #494949, #1b1b1b);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#494949), to(#1b1b1b));

    color: white;
}

div.container div.header a.home {
    padding: 5px;

    font-size: 2.5em;
    text-decoration: none;
    color: white;
}

div.container div.content {
    padding: 5px;

    background-color: white;
}

div.container div.content h1 {

    font-size:2em;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    color: #3d3d3d;
}


div.container div.sonata-actions ul {
    float: left;
    list-style: none;
}

div.container div.sonata-actions li {
    float: left;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);

    border: 1px solid #cccccc;
    background: #f2f2f2;
    margin: 2px;
}

div.container div.sonata-actions li a {
    color: black;
    text-decoration: none;

    margin-left: 6px;
    margin-right: 6px;
    line-height: 15px;
}


/* Dashboard element */
table.sonata-ba-list {
    border: 1px solid #cccccc;
}

table.sonata-ba-list th {
    background-image: -moz-linear-gradient(-90deg, #f8f8f8 , #e2e2e2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e2e2e2));
}


/* Form */
textarea.title {
    font-size: 1em;
    width: 500px;
}

input.title {
    font-size: 1em;
    width: 500px;
}

div.sonata-ba-form-error {
		width: 495px;
		border: 3px solid #CE6F6F;
		background-color: #F79992;
		color: #9C2F2F;
		padding: 5px;
		margin-bottom: 10px;
}

div.sonata-ba-form-error ul {
		margin: 0;
}

div.sonata-ba-field-error input{
    border: 1px solid #f79992;
}

div.sonata-ba-field-error textarea{
    border: 1px solid #f79992;
}