table.sonata-ba-list {
    width: 500px;
}


table.sonata-ba-list td {
    width: 75px;
}

table.sonata-ba-list td img{
    vertical-align: bottom
}


table.sonata-ba-list td.sonata-ba-list-label {
    width: 350px;
}

td.pager ul {
    float: left;
    list-style: none;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;

}

td.pager ul li {
    float: left;
}


td.pager ul li a {
    border: 1px solid #cccccc;
    padding: 4px;
    margin: 2px;
}