<div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
    <fieldset>
        <div class="sonata-ba-collapsed-fields">
            {% if form_group.description != false %}
                <p>{{ form_group.description|raw }}</p>
            {% endif %}

            {% for field_name in form_group.fields %}
                {% if admin.formfielddescriptions[field_name] is defined %}
                    {{ form_row(form[field_name])}}
                {% endif %}
            {% endfor %}
        </div>
    </fieldset>
</div>
