<a class="btn btn-link btn-flat" href="{{ action.url }}">
    <i class="fa fa-{{ action.icon }}" aria-hidden="true"></i>
    {{ action.label|trans({}, action.translation_domain|default('SonataAdminBundle')) }}
</a>
