<td class="sonata-ba-list-field sonata-ba-list-field-action">
    {% for actions in field_description.options.actions %}
        {% include 'SonataAdminBundle:CRUD:list__action' ~ actions ~ '.html.twig' %}
    {% endfor %}
</td>