{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/page_white_edit.png') }}" alt="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}" />
    </a>
{% endif %}