<a href="{{ admin.generateUrl('view', {'id': object.id}) }}" class="view_link" title="{% trans 'action_view' from 'AdminBundle' %}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{% trans 'action_view' from 'AdminBundle' %}" />
</a>