{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-zoom-in"></i>
        {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}