<a href="{{ admin.generateUrl('edit', {'id': object.id}) }}" class="edit_link" title="{% trans 'action_edit' from 'AdminBundle' %}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/page_white_edit.png') }}" alt="{% trans 'action_edit' from 'AdminBundle' %}" />
</a>