{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}" />
    </a>
{% endif %}