{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateUrl('show', {'id': admin.id(object)}) }}" class="view_link" title="{% trans from 'SonataAdminBundle' %}action_view{% endtrans %}">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{% trans from 'SonataAdminBundle' %}action_view{% endtrans %}" />
    </a>
{% endif %}