{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataBaseApplicationBundle:CRUD:base_list.twig.html' %}

{% block table_body %}
    {% for element in datagrid.results %}
        <tr>
            {% for field_description in fields %}
                <td>{{ element|render_list_element(field_description) }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}
