{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# NEXT_MAJOR: Replace canAccessObject by hasAccess #}
{% if object is not null
    and admin.id(object) is not null
    and admin.canAccessObject('history', object, 'sonata_deprecation_mute')
    and admin.hasRoute('history')
%}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">
            <i class="fa fa-archive" aria-hidden="true"></i>
            {{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}
        </a>
    </li>
{% endif %}
