{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if object is not null
    and admin.id(object) is not null
    and admin.hasAccess('history', object)
    and admin.hasRoute('history')
%}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">
            <i class="fas fa-archive" aria-hidden="true"></i>
            {{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}
        </a>
    </li>
{% endif %}
