
body > .header .logo {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo img {
    display: inline;
    padding-bottom: 4px;
    max-height: 100%;
    max-width: 60px;
}

.logo span {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    width: 200px;
}
.logo img + span {
    width: 140px;
}
