<span class="inner-field-short-description">
    {% if admin.hasRoute('edit') and admin.isGranted('EDIT') %}
        <a href="{{ admin.generateObjectUrl('edit', object) }}" target="new">{{ description }}</a>
    {% else %}
        {{ description }}
    {% endif %}
</span>
