{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
    <div>
        {{ form_label(form) }}
        <br />

        <div class="sonata-ba-field">
            {% block field %}{{ form_widget(form) }}{% endblock %}
        </div>
    </div>
{% endblock field_row %}