/* Buttons */

.sonata-action-element.btn-group {
    display: inline-block;
    padding: 4px 10px 4px;
    vertical-align: middle;
}

.sonata-ba-action.btn:not(:hover) {
    background: none;
    color: inherit;
}
