{# NEXT_MAJOR: Remove this template #}
{% deprecated 'The "_email_link.html.twig" is deprecated since sonata-project/admin-bundle 3.x and will be removed in 4.0.' %}
{%- if value is empty -%}
    &nbsp;
{%- elseif field_description.option('as_string', false) -%}
    {{ value }}
{%- else -%}
    {% set parameters = {} %}
    {% set subject = field_description.option('subject', '') %}
    {% set body = field_description.option('body', '') %}

    {% if subject is not empty %}
        {% set parameters = parameters|merge({'subject': subject}) %}
    {% endif %}
    {% if body is not empty %}
        {% set parameters = parameters|merge({'body': body}) %}
    {% endif %}

    <a href="mailto:{{ value }}{% if parameters|length > 0 %}?{{- parameters|url_encode -}}{% endif %}">
        {{- value -}}
    </a>
{%- endif -%}
