{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% deprecated 'The "base_filter_field.html.twig" is deprecated since sonata-project/admin-bundle 3.74 and will be removed in 4.0' %}

<div>
    {% block label %}
        {% if filter.fielddescription.option('name') %}
            {{ form_label(filter_form, filter.fielddescription.option('name')) }}
        {% else %}
            {{ form_label(filter_form) }}
        {% endif %}
        <br>
    {% endblock %}

    <div class="sonata-ba-field{% if filter_form.vars.errors %} sonata-ba-field-error{% endif %}">
        {% block field %}{{ form_widget(filter_form) }}{% endblock %}
    </div>
</div>
