<a class="btn btn-link btn-flat" href="{{ action.url }}">
    <i class="{{ action.icon|parse_icon(true)|raw }}" aria-hidden="true"></i>
    {{ action.label|trans({}, action.translation_domain|default('SonataAdminBundle')) }}
</a>
