<a class="btn btn-link btn-flat" href="{{ action.url }}">
    {{ action.icon|parse_icon }}
    {% if action.translation_domain is defined and action.translation_domain is same as(false) %}
        {{ action.label }}
    {% else %}
        {{ action.label|trans({}, action.translation_domain|default('SonataAdminBundle')) }}
    {% endif %}
</a>
