{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% deprecated 'The "edit_array.html.twig" is deprecated since sonata-project/admin-bundle 3.x and will be removed in 4.0' %}

{% extends base_template %}

{% block field %}
    <span class="edit">
        {{ form_widget(field_element, {'attr': {'class' : 'title'}}) }}
    </span>
{% endblock %}
