{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
        href="{{ admin.generateObjectUrl('edit', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
        {% else %}
            <span class="sr-only">
                {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
            </span>
        {% endif %}
    </a>
{% endif %}
