{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('history', object) and admin.hasRoute('history') %}
    {% set _button_style = sonata_config.getOption('button_style') %}
    <a
        href="{{ admin.generateObjectUrl('history', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default view_link"
        title="{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}"
    >
        {% if _button_style == 'both' or _button_style == 'icon' %}
            <i class="fa fa-history" aria-hidden="true"></i>
        {% endif %}
        {% if _button_style == 'both' or _button_style == 'text' %}
            {{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}
        {% endif %}
    </a>
{% endif %}
