{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if value %}
        {% set route_name = field_description.option('route').name|default(sonata_config.getOption('default_admin_route')) %}
        {% set route_parameters = field_description.option('route').parameters|default([]) %}

        {% if field_description.hasAssociationAdmin
            and field_description.associationadmin.id(value) is not null
            and field_description.associationadmin.hasRoute(route_name)
            and field_description.associationadmin.hasAccess(route_name, value)
        %}
            <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, value, route_parameters) }}">
                {{ value|render_relation_element(field_description) }}
            </a>
        {% else %}
            {{ value|render_relation_element(field_description) }}
        {% endif %}
    {% endif %}
{% endblock %}
